<h1 class="text-center mt-4">Edit <%= resource_name.to_s.humanize %></h1>
<div class="container text-center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group row">
      <%= f.label :email, class: "col-2 col-form-label" %><br />
      <div class="col-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control shadow rounded mt-2" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group row">
      <%= f.label :username, class: "col-form-label col-2" %><br />
      <div class="col-8">
        <%= f.text_field :username, autocomplete: "username", class: "form-control shadow rounded mt-2" %>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-2">
        <%= f.label :password, class: "col-form-label" %> 
      </div>
      <div class="col-8">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control shadow rounded mt-2" %><i>(leave blank if you don't want to change it)</i>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %><br />
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, class: "col-form-label col-2" %><br />
      <div class="col-8">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control shadow rounded mt-2" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :current_password, class: "col-form-label col-2" %> <br />
      <div class="col-8">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control shadow rounded mt-2" %>
        <i>(we need your current password to confirm your changes)</i>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary btn-sm mt-2" %>
    </div>
    <p class="mt-4 bt-4">
      <%= link_to "[ Back ]", :back %>
    </p>
  <% end %>
</div>