<div class="container">
  <div class="row justify-content-md-center">
    <%= render 'shared/errors' %>
    <div class="col-10 mt-4">
        <div class="card text-center shadow mb-2 bg-white rounded">
        <div class="card-header">
            <h2 class="text-center mt-2"><%= @post.title %></h2>
        </div>
        <div class="card-body">
            <div class="card-text text-start"><%= simple_format(@post.desc) %></div>
            <input type="button" class="btn btn-primary btn-sm" onclick="history.back()" value="Back"></input>
            <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Delete', post_path(@post), class: "btn btn-primary btn-sm", method: :delete, data: { confirm: "Are you sure? "} %>
        </div>
        <div class="card-footer text-muted fst-italic">
            <small>Created <%= time_ago_in_words(@post.created_at) %> ago,
            edited <%= time_ago_in_words(@post.updated_at) %> ago by <%= @post.user.username %></small>
        </div>
        </div>
    </div>
  </div>
</div>

<%= render 'posts/comment' %>